/**************************************************
*** GENERAL
**************************************************/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none !important;

}


a.nav-link.active,
a.nav-link:hover {
    border-bottom: 2px solid #FFBE3E;
    max-width: auto;
    transition: .1s;
}

.title:before {
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(55px);
}

.title:after {
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
    transform: translateY(10px);
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}

/**************************************************
*** NAVBAR
**************************************************/
#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}

.navbar-brand img {
    width: 100px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
    display: inline-block;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}




/**************************************************
*** BANNER SECTION
**************************************************/

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
    width: 100%;
}

.promo-title {
    resize: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn {
    width: 45px;
    margin: 20px;
}

#banner a {
    color: #fff;
    margin-left: -25px;
}

.banner-img {
    margin-top: -50px;
    width: 95%;
}

.banner-bottom-svg {
    margin-top: -10% !important;
    width: auto;
}




/**************************************************
*** Services
**************************************************/
#services {
    padding: 80px 0;
}

.service-image {
    width: 80px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

.services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}


/* Title Define at Top*/
#services .service-btn {
    margin: 0 auto;
    padding: 8px 25px;
    border: none;
    border-radius: 0px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    box-shadow: 4px 4px 6px #bcbcbc;

}




/**************************************************
*** About Us
**************************************************/
#about-us {
    background: #f8f9fa;
    padding: 70px 0;

}

.about-title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 8%;
}

.about-us ul {
    /*    margin-left: 15px;*/
}

.about-us ul li {
    margin: 10px 0;
    font-size: 18px;
    list-style: none;
}

#about-us .about-img {
    margin-top: 30px;
    width: 90%;
}




/**************************************************
*** Testimonials
**************************************************/
#testimonials {
    padding: 70px 0;

}

.single-testimonial {
    border-left: 5px solid #7b1798;
    margin: 50px 0;
    /*    margin-right: 30px;*/

}

.single-testimonial img {
    width: 60;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #7b1798;
    margin: 0 10px;

}

.client-info {
    display: inline-block !important;
    font-size: 12px;
}





/**************************************************
*** Social Media
**************************************************/
#social-media {
    padding: 80px 0;
    background: #f8f9fa;
}

#social-media .title:after {
    margin-bottom: 30px;
    transform: translateY(20px);
}

.social-media-icons {
    margin-top: 80px;
}

.social-media-icons a {
    padding: 0 15px;
}

.social-media-icons img {
    width: 50px;
    transition: .5s;
}

.social-media-icons a:hover img {
    transform: translateY(-10px);
}



/**************************************************
*** Footer
**************************************************/
#footer {
    padding-top: 70px;
    background: #f8f9fa;
    color: #fff;
    position: relative;
}

.svc-bottom {
    background: #7b1798;
    padding: 90px 0px;
    width: 100%;
    height: auto;
}

.footerbox {
    padding-top: 220px;
    position: absolute;
    overflow: hidden;
}

.footerbox img {
    width: 100px;
    margin-top: -20px;
    margin-bottom: 15px;
}

.footerbox .fas {
    text-align: center;
    margin-right: 8px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footerbox .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
}

.footerbox .btn {
    /*    box-shadow: none !important;*/
    border: none;
    border-radius: 0;
    margin-top: 15px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    box-shadow: 4px 4px 10px #0e0e0e !important;
}



/**************************************************
*** Copyright
**************************************************/
#copyright {

    background: #3E005D;
    padding: 14px 0;
    bottom: 0;
}

hr {
    background-color: #fff !important;
}

.copyright {
    color: #fff;
    margin: 0 auto;
    margin-top: 7px;
}



/*----------------- End of CSS -----------------*/

@media only screen and (max-width: 767px) {
    .banner-img {
        margin-top: 30px;
        width: 100%;
        margin-bottom: 20px;
    }

    .social-media-icons img {
        width: 30px;
        transition: .5s;
    }

    .social-media-icons a {
        padding: 0 10px;
    }

    .navbar-brand {
        padding-bottom: 0px !important;
        margin-left: -10px;
    }

    #about-us .about-img {
        margin-top: 70px;
        width: 100%;
    }

    .svc-bottom {
        padding: 400px 0px;
    }

    .s-mt-30 {
        margin-top: 30px;
        text-align: left !important;
    }

    .footerbox .form-control {
        max-width: 320px;
        /*        margin: 0 auto;*/
    }
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .promo-title {
        margin-top: 0px;
    }

    .svc-bottom {
        padding: 130px 0px;
    }

    .footerbox {
        padding-top: 200px;
    }

    .footerbox img {
        width: 70px;
        margin-top: -25px;
    }

    .footerbox .fas {
        margin-right: 4px;
        font-size: 15px;
        width: 40px;
        height: 40px;
        padding-top: 12px;
    }

    .footerbox .form-control {
        margin-top: 20px;
    }

    .footerbox p {
        font-size: 12px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .svc-bottom {
        padding: 140px 0px;
    }
}
